*{
    margin: 0;
    padding: 0;
    font-size: 16px;
}
body{
    background-color: #E1E5E8;
}
#container{
    margin: 0 auto;
    width: 974px;
    background-color: white;
}
#ctable{
    border-collapse: collapse;
    width: 700px;
    margin: 0 auto;
}
#ctable tr{
    height: 30px;
    border: solid 1px;
    border-color: darkgray;
}
#ctable td{
    border: solid 1px;
    border-color: darkgray;
}
.td1{
    width: 175px;
    text-align: center;
}
.td2{
    text-align: center;
}